**/.idea
**/.vscode*
**/cmake-build-debug
**/build
*.swp
**/src/apf_show
*.ipynb_checkpoints/
*.DS_Store
*.gif
**/CMakeLists.txt.user
test/**/bin
simulation/logs
test/**/bin
imaf_controller/simulation/logs
**/__pycache__
*.pyc
*.out
src/planning/include/common/version.h
tmp
bags
.cache
.conan_data_cache
logs
tools/bin
test/sbp_request_visualize/scenario*/
test/bag_recurrent/scenario*/*
.vscode/
*.bag
*.tian
settings.json
test/bag_recurrent/build/*
*.png
*.zip
result/*
names_last_result.json
data_cache
test/sbp_request_visualize/*.txt
test/bag_recurrent/CMakeFiles/*
sbp
thirdpartylib*
test/auto_sbp_test.log
test/bag_recurrent/script/auto_sbp_test.log
test/bag_recurrent/lib
calib*